/* font-family: "CaviarDreamsRegular"; */
@font-face {
    font-family: "CaviarDreamsRegular";
    src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot");
    src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.woff") format("woff"),
        url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@media (min-width: 1200px) {
    .anchor {
        position:relative; 
        top:-180px;
    }
}

@media (max-width: 1199px) {
    .anchor {
        position:relative; 
        top:-230px;
    }
}

@media (max-width: 575px) {
    .anchor {
        position:relative; 
        top:-142px;
    }
}

body {
    overflow-x: hidden !important;
}

h2 {
    font-family: "CaviarDreamsRegular", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
}

h3 {
    font-family: "CaviarDreamsRegular", sans-serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
}

h4 {
    font-family: "CaviarDreamsRegular", sans-serif;
    font-size: 20px;
}

p {
    font-size: 14px;
}

header {
    height: auto!important;
}

.clear {
    clear: both;
}

ul.nav.navbar-nav {
    width: calc(100% - 150px);
}

#buy {
    display: flex;
    justify-content: flex-end;

}

#buy input, #price input {

    background: #ca3f43;
    font-family: "CaviarDreamsRegular", sans-serif;
    text-transform: uppercase;
    padding: 10px;
}

#buy .btn, #price .btn {    
    box-shadow: 0 2px 0 0 #a83135;
}

.text-xs-center .btn {
    font-size: .8rem;
}

.btn {
    font-size: 1rem;
    padding: 10px 20px;
}

.section-heading {
    text-transform: none;
    padding: 0 !important;
    text-align: left;
    font-size: 30px !important;
    margin: 60px auto 30px !important;
    font-family: "CaviarDreamsRegular", sans-serif;
}

.section-sub-heading {
    color: #999;
    margin-bottom: 30px;
}

.light {
    color: #fff !important;
}

.section-heading span {
    box-shadow: 0 2px 0 0 #a83135;
    border-bottom: 2px solid #ca3f43;
}

.section-heading.light span {
    box-shadow: 0 2px 0 0 #cecece;
    border-bottom: 2px solid #ececec;

}
.section-heading:after {
    position: relative;
    display: block;
    right: 100%;
    top: 1px;
    height: 2px;
    background-color: #ca3f43;
    content: "";
}

.section-heading.light:after {
    position: relative;
    display: block;
    right: 100%;
    top: 1px;
    height: 2px;
    background-color: #ececec;
    content: "";
}

.title .section-heading.light:after {
    position: relative;
    display: block;
    left: 0px;
    width: 1000%;
    height: 2px;
    background-color: #ececec;
    content: "";
}

ul.desc {
    margin-top: -30px;
    text-align: left;
    font-size: 16px;
}

ul.desc li {
    list-style: disc;
    color: #ca3f43;
    margin-bottom: 10px;
}

ul.desc li span {
    color: #fff;
    text-shadow: 0 0 10px #000, 0 0 20px #111, 0 0 30px #222, 0 0 40px #333, 0 0 100px #444;
}

.num-circle {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 500px;
    background: #fff;
    font-size: 50px;
    font-family: "CaviarDreamsRegular", sans-serif;
    padding: 15px;
    margin: auto;
    top: -50px;
    left: 0;
    bottom: 0;
    right: 0;
}

.card-up {
    height: 90%;
}

.card-block {
    padding-top: 30px;
}

img.back {
    display: block;
    margin: 0 auto;
    padding: 0 !important;
    max-width: 100%;
    max-height: 100%;
    box-shadow: none !important;
}

.rotate-btn {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: #3d7cb7 !important;
    z-index: 1;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.text-block {
    margin: 30px auto 50px;
    border-radius: 2px;
    background: #ececec;
    box-shadow: 0 2px 0 0 rgba(206,206,206,1);
}

.text-block img {

    box-shadow: none;
    margin: 20px;
    float: left;
}

#bootstrap {
    width: 52px;
    height: auto;    
}

#chart {
    width: 220px;
    height: auto;
}

p.text {
    text-align: left;
    font-size: 18px;
    color: #777777;
    padding: 20px;
    margin: 0;
}

span.bold {
    font-weight: bold;
}

.heart {
    text-align: center;
    color: #ca3f43;
    font-size: 24px;
    padding: 0 0 20px;
}

.section-description {
    text-align: left !important;
    margin: 20px 0 !important;
}

.card-overlay.template {
    height: 450px;
    background: center top;
    background-size: cover;
}

.card-name {
    /* display: flex; */
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    /* width: 100%; */
    background: rgba(0,0,0,.7);
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}

.row {
    margin-bottom: 30px;
}

#examples-of-design {
    left: 0;
    right: 0;
    padding: 20px;
    background: url(../img/bg-1.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

#product-page {
    left: 0;
    right: 0;
    padding: 20px;
    background: url(../img/bg-2.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

#contacts-page {
    left: 0;
    right: 0;
    padding: 20px;
    background: url(../img/bg-4.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

#characteristics {
    left: 0;
    right: 0;
    padding: 20px;
    background: url(../img/bg-main.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;    
}

.feature-title {
    text-align: center;
}

img.plus {
    box-shadow: none;
    height: 74px;
    margin: 20px auto;
}

img.prod {
    height: 60px;
    display: block;
    margin: 20px auto;
    box-shadow: none;
}

img.speed {
    width: 70px;
    float: right;
    box-shadow: none;
}

img.speed.label {
    position: absolute;
    right: -25px;
    top: -25px;
    transform: rotate(15deg);
}

.prod-text-block {
    border-radius: 2px;
    background: #ececec;
    box-shadow: 0 2px 0 0 rgba(206,206,206,1);
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.prod-text-block.dark {
    background: #cecece;
    box-shadow: 0 2px 0 0 rgba(173,173,173,1);    
}

.prod-text-block p {
    margin-bottom: 0;
}

.grey-text.dark {
    color: #777!important;
}

.row.nomargin {
    margin-bottom: 0;
}

.margin15 {
    margin-bottom: 15px;
}

.margin50 {
    margin-bottom: 50px;
}

.margin- {
    margin-top: -52px;
}

img.icon {
    height: 23px;
    box-shadow: none;
    display: inline;
    margin-bottom: 8px;
}

.no-shadow {
    box-shadow: none !important;
}

.prod-text-block ul {
    text-align: left;
    padding-left: 25px;
    list-style-image: url(../img/success.png);
}

.prod-text-block ul li {
    padding: 5px 0 10px;
}

img.center {
    padding: 0;
    display: block;
    margin: auto;
}

#cart-page {
    left: 0;
    right: 0;
    padding: 20px;
    background: url(../img/bg-3.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

img.left {
    width: 70px;
    float: left;
    box-shadow: none;
    margin-right: 20px;
}

img.cart {
    width: 70px;
    box-shadow: none;
    margin: 30px auto;
}

.google {
    box-sizing: border-box;
    background: #ececec;
    color: #444!important;
    font-size: 16px;
    font-family: "CaviarDreamsRegular", sans-serif;
    text-transform: none;
    display: block;
    margin: auto;
    max-width: 60%;
    box-shadow: 0 2px 0 0 #cecece;

}

.google:hover {
    box-shadow: 0 2px 0 0 #cecece!important;
}

.google img {
    box-shadow: none;
    width: 30px;
    display: inline;
    margin: -10px 20px -7px 0;
}

.wrap p,
.wrap h4 {
    padding: 20px;
    box-sizing: border-box;
}

.wrap h4 {
    padding-bottom: 0;
}

.wrap.left {
    position: relative;
    right: 20px;  
}

.wrap.right {
    position: relative;
    left: 20px;
}

.wrap.left img {
    position: relative;
    left: 20px;
    bottom: 20px;
}

.wrap.right img {
    position: relative;
    right: 20px;
    bottom: 20px;
}

.wrap.gray {
    background: #ececec;
    border-radius: 2px;
}

.wrap.green {
    background: #25ae88!important;
    border-radius: 2px;
    color: #fff;
}

.wrap.red {
    background: #ca3f43!important;
    border-radius: 2px;
    color: #fff;
}

.wrap.blue {
    background: #3d7cb7!important;
    border-radius: 2px;
    color: #fff;
}

.mdb-color {
    background: #3d7cb7!important;
}

.btn-mdb.red {
    background: #ca3f43!important;
}

footer {
    margin-top: 0!important;
}

.card {
    margin-top: 60px;
}

.title, .img-block {
    margin-top: 60px;
    padding: 30px 0;
    text-shadow: 0 0 10px #000, 0 0 20px #111, 0 0 30px #222, 0 0 40px #333, 0 0 100px #444;
}

.img-block img {
    margin: 20px 0;
    box-shadow: none;
}

.img-block h2 {
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #fff;
}

.hm-black-strong .full-bg-img {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+65 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 65%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 65%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 65%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

.nav-item:hover:after {
    position: relative;
    display: block;
    margin-bottom: -2px;
    height: 2px;
    background-color: #ca3f43;
    content: "";    
}

.card-wrapper {
    height: 600px;
}
